<!-- <article class="listing">
 
  <div class="details">
    <h3>{{this.book.bookName}}</h3>
    <div class="detail owner">
      <span>Author:</span> {{this.book.author}}
    </div>
    <div class="detail owner">
      <span>Publication:</span> {{this.book.pub}}
    </div>
    <div class="detail owner">
      <span>Department:</span> {{this.book.dept}}
    </div>
  </div>
</article> -->




